# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.historyㅔ
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/.idea/**

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Except for the build/web directory
!/build/web/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/aws/resize_image_lambda/node_modules/
.vercel
/custom_build/



# 환경변수
.env.production
.env.development
/ios/build/ios/iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
/ios/build/ios/iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
/ios/build/ios/iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
/ios/build/ios/iphoneos/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
/ios/build/ios/iphoneos/Runner.app/Base.lproj/Main.storyboardc/Info.plist
/ios/build/ios/iphoneos/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/shaders/ink_sparkle.frag
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.bin
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/App
/ios/build/ios/iphoneos/Runner.app/Frameworks/App.framework/Info.plist
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/Flutter.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterAppDelegate.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCallbackCache.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCodecs.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterDartProject.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngineGroup.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterMacros.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlatformViews.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlugin.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterTexture.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterViewController.h
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Modules/module.modulemap
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Flutter
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/icudtl.dat
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/Info.plist
/ios/build/ios/iphoneos/Runner.app/Frameworks/Flutter.framework/PrivacyInfo.xcprivacy
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCore.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCoreAudio.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCoreFoundation.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCoreGraphics.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCoreImage.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftCoreMedia.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftDarwin.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftDispatch.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftFoundation.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftMetal.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftObjectiveC.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftos.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftQuartzCore.dylib
/ios/build/ios/iphoneos/Runner.app/Frameworks/libswiftUIKit.dylib
/ios/build/ios/iphoneos/Runner.app/AppFrameworkInfo.plist
/ios/build/ios/iphoneos/Runner.app/AppIcon60x60@2x.png
/ios/build/ios/iphoneos/Runner.app/AppIcon76x76@2x~ipad.png
/ios/build/ios/iphoneos/Runner.app/Assets.car
/ios/build/ios/iphoneos/Runner.app/Info.plist
/ios/build/ios/iphoneos/Runner.app/PkgInfo
/ios/build/ios/iphoneos/Runner.app/Runner
/ios/build/ios/Release-iphoneos/App.framework/_CodeSignature/CodeResources
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/shaders/ink_sparkle.frag
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/AssetManifest.bin
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/AssetManifest.json
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/FontManifest.json
/ios/build/ios/Release-iphoneos/App.framework/flutter_assets/NOTICES.Z
/ios/build/ios/Release-iphoneos/App.framework/App
/ios/build/ios/Release-iphoneos/App.framework/Info.plist
/ios/build/ios/Release-iphoneos/App.framework.dSYM/Contents/Resources/DWARF/App
/ios/build/ios/Release-iphoneos/Flutter.framework/_CodeSignature/CodeResources
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/Flutter.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterAppDelegate.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterBinaryMessenger.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterCallbackCache.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterChannels.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterCodecs.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterDartProject.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterEngine.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterEngineGroup.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterMacros.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterPlatformViews.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterPlugin.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterTexture.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Headers/FlutterViewController.h
/ios/build/ios/Release-iphoneos/Flutter.framework/Modules/module.modulemap
/ios/build/ios/Release-iphoneos/Flutter.framework/Flutter
/ios/build/ios/Release-iphoneos/Flutter.framework/icudtl.dat
/ios/build/ios/Release-iphoneos/Flutter.framework/Info.plist
/ios/build/ios/Release-iphoneos/Flutter.framework/PrivacyInfo.xcprivacy
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/Main.storyboardc/Info.plist
/ios/build/ios/Release-iphoneos/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/shaders/ink_sparkle.frag
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.bin
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/App
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/App.framework/Info.plist
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/Flutter.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterAppDelegate.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCallbackCache.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCodecs.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterDartProject.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngineGroup.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterMacros.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlatformViews.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlugin.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterTexture.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Headers/FlutterViewController.h
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Modules/module.modulemap
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Flutter
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/icudtl.dat
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/Info.plist
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/Flutter.framework/PrivacyInfo.xcprivacy
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCore.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCoreAudio.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCoreFoundation.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCoreGraphics.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCoreImage.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftCoreMedia.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftDarwin.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftDispatch.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftFoundation.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftMetal.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftObjectiveC.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftos.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftQuartzCore.dylib
/ios/build/ios/Release-iphoneos/Runner.app/Frameworks/libswiftUIKit.dylib
/ios/build/ios/Release-iphoneos/Runner.app/AppFrameworkInfo.plist
/ios/build/ios/Release-iphoneos/Runner.app/AppIcon60x60@2x.png
/ios/build/ios/Release-iphoneos/Runner.app/AppIcon76x76@2x~ipad.png
/ios/build/ios/Release-iphoneos/Runner.app/Assets.car
/ios/build/ios/Release-iphoneos/Runner.app/Info.plist
/ios/build/ios/Release-iphoneos/Runner.app/PkgInfo
/ios/build/ios/Release-iphoneos/Runner.app/Runner
/ios/build/ios/Release-iphoneos/Runner.app.dSYM/Contents/Resources/DWARF/Runner
/ios/build/ios/Release-iphoneos/Runner.app.dSYM/Contents/Resources/Relocations/aarch64/Runner.yml
/ios/build/ios/Release-iphoneos/Runner.app.dSYM/Contents/Info.plist
/ios/build/ios/Release-iphoneos/Runner.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
/ios/build/ios/Release-iphoneos/Runner.swiftmodule/arm64-apple-ios.abi.json
/ios/build/ios/Release-iphoneos/Runner.swiftmodule/arm64-apple-ios.swiftdoc
/ios/build/ios/Release-iphoneos/Runner.swiftmodule/arm64-apple-ios.swiftmodule
/ios/build/ios/Release-iphoneos/.last_build_id
/build/
