/node_modules/
/packages/api/node_modules/
.DS_Store
packages/.DS_Store
packages/client/.DS_Store
packages/supabase/.idea/workspace.xml
packages/supabase/.idea/workspace.xml
# 빌드 출력 파일
/build/
**/build/
packages/web/picnic-web/public/sitemap-0.xml
