# Supabase
.branches
.temp
.env
/functions/fortune-batch/node_modules/data-uri-to-buffer/dist/index.d.ts
/functions/fortune-batch/node_modules/data-uri-to-buffer/dist/index.js
/functions/fortune-batch/node_modules/data-uri-to-buffer/dist/index.js.map
/functions/fortune-batch/node_modules/data-uri-to-buffer/src/index.ts
/functions/fortune-batch/node_modules/data-uri-to-buffer/package.json
/functions/fortune-batch/node_modules/data-uri-to-buffer/README.md
/functions/fortune-batch/node_modules/dotenv/lib/cli-options.js
/functions/fortune-batch/node_modules/dotenv/lib/env-options.js
/functions/fortune-batch/node_modules/dotenv/lib/main.d.ts
/functions/fortune-batch/node_modules/dotenv/lib/main.js
/functions/fortune-batch/node_modules/dotenv/CHANGELOG.md
/functions/fortune-batch/node_modules/dotenv/config.d.ts
/functions/fortune-batch/node_modules/dotenv/config.js
/functions/fortune-batch/node_modules/dotenv/LICENSE
/functions/fortune-batch/node_modules/dotenv/package.json
/functions/fortune-batch/node_modules/dotenv/README.md
/functions/fortune-batch/node_modules/dotenv/README-es.md
/functions/fortune-batch/node_modules/fetch-blob/file.d.ts
/functions/fortune-batch/node_modules/fetch-blob/file.js
/functions/fortune-batch/node_modules/fetch-blob/from.d.ts
/functions/fortune-batch/node_modules/fetch-blob/from.js
/functions/fortune-batch/node_modules/fetch-blob/index.d.ts
/functions/fortune-batch/node_modules/fetch-blob/index.js
/functions/fortune-batch/node_modules/fetch-blob/LICENSE
/functions/fortune-batch/node_modules/fetch-blob/package.json
/functions/fortune-batch/node_modules/fetch-blob/README.md
/functions/fortune-batch/node_modules/fetch-blob/streams.cjs
/functions/fortune-batch/node_modules/formdata-polyfill/esm.min.d.ts
/functions/fortune-batch/node_modules/formdata-polyfill/esm.min.js
/functions/fortune-batch/node_modules/formdata-polyfill/FormData.js
/functions/fortune-batch/node_modules/formdata-polyfill/formdata.min.js
/functions/fortune-batch/node_modules/formdata-polyfill/formdata-to-blob.js
/functions/fortune-batch/node_modules/formdata-polyfill/LICENSE
/functions/fortune-batch/node_modules/formdata-polyfill/package.json
/functions/fortune-batch/node_modules/formdata-polyfill/README.md
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527203842.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527203947.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527204259.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527204418.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527204756.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527204833.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527211208.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527211248.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527212722.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527212731.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527212746.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527212900.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527213022.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527213822.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527213843.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527213852.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527213910.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527214034.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527214643.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527214654.js
/functions/fortune-batch/node_modules/node-domexception/.history/index_20210527214700.js
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527203733.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527203825.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527204621.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527204913.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527204925.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527205145.json
/functions/fortune-batch/node_modules/node-domexception/.history/package_20210527205156.json
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527203617.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527212714.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527213345.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527213411.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527213803.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527214323.md
/functions/fortune-batch/node_modules/node-domexception/.history/README_20210527214408.md
/functions/fortune-batch/node_modules/node-domexception/.history/test_20210527205603.js
/functions/fortune-batch/node_modules/node-domexception/.history/test_20210527205957.js
/functions/fortune-batch/node_modules/node-domexception/.history/test_20210527210021.js
/functions/fortune-batch/node_modules/node-domexception/index.js
/functions/fortune-batch/node_modules/node-domexception/LICENSE
/functions/fortune-batch/node_modules/node-domexception/package.json
/functions/fortune-batch/node_modules/node-domexception/README.md
/functions/fortune-batch/node_modules/node-fetch/@types/index.d.ts
/functions/fortune-batch/node_modules/node-fetch/src/errors/abort-error.js
/functions/fortune-batch/node_modules/node-fetch/src/errors/base.js
/functions/fortune-batch/node_modules/node-fetch/src/errors/fetch-error.js
/functions/fortune-batch/node_modules/node-fetch/src/utils/get-search.js
/functions/fortune-batch/node_modules/node-fetch/src/utils/is.js
/functions/fortune-batch/node_modules/node-fetch/src/utils/is-redirect.js
/functions/fortune-batch/node_modules/node-fetch/src/utils/multipart-parser.js
/functions/fortune-batch/node_modules/node-fetch/src/utils/referrer.js
/functions/fortune-batch/node_modules/node-fetch/src/body.js
/functions/fortune-batch/node_modules/node-fetch/src/headers.js
/functions/fortune-batch/node_modules/node-fetch/src/index.js
/functions/fortune-batch/node_modules/node-fetch/src/request.js
/functions/fortune-batch/node_modules/node-fetch/src/response.js
/functions/fortune-batch/node_modules/node-fetch/LICENSE.md
/functions/fortune-batch/node_modules/node-fetch/package.json
/functions/fortune-batch/node_modules/node-fetch/README.md
/functions/fortune-batch/node_modules/pg/lib/crypto/sasl.js
/functions/fortune-batch/node_modules/pg/lib/crypto/utils.js
/functions/fortune-batch/node_modules/pg/lib/crypto/utils-legacy.js
/functions/fortune-batch/node_modules/pg/lib/crypto/utils-webcrypto.js
/functions/fortune-batch/node_modules/pg/lib/native/client.js
/functions/fortune-batch/node_modules/pg/lib/native/index.js
/functions/fortune-batch/node_modules/pg/lib/native/query.js
/functions/fortune-batch/node_modules/pg/lib/client.js
/functions/fortune-batch/node_modules/pg/lib/connection.js
/functions/fortune-batch/node_modules/pg/lib/connection-parameters.js
/functions/fortune-batch/node_modules/pg/lib/defaults.js
/functions/fortune-batch/node_modules/pg/lib/index.js
/functions/fortune-batch/node_modules/pg/lib/query.js
/functions/fortune-batch/node_modules/pg/lib/result.js
/functions/fortune-batch/node_modules/pg/lib/stream.js
/functions/fortune-batch/node_modules/pg/lib/type-overrides.js
/functions/fortune-batch/node_modules/pg/lib/utils.js
/functions/fortune-batch/node_modules/pg/LICENSE
/functions/fortune-batch/node_modules/pg/package.json
/functions/fortune-batch/node_modules/pg/README.md
/functions/fortune-batch/node_modules/pg-cloudflare/dist/empty.d.ts
/functions/fortune-batch/node_modules/pg-cloudflare/dist/empty.js
/functions/fortune-batch/node_modules/pg-cloudflare/dist/empty.js.map
/functions/fortune-batch/node_modules/pg-cloudflare/dist/index.d.ts
/functions/fortune-batch/node_modules/pg-cloudflare/dist/index.js
/functions/fortune-batch/node_modules/pg-cloudflare/dist/index.js.map
/functions/fortune-batch/node_modules/pg-cloudflare/src/empty.ts
/functions/fortune-batch/node_modules/pg-cloudflare/src/index.ts
/functions/fortune-batch/node_modules/pg-cloudflare/src/types.d.ts
/functions/fortune-batch/node_modules/pg-cloudflare/LICENSE
/functions/fortune-batch/node_modules/pg-cloudflare/package.json
/functions/fortune-batch/node_modules/pg-cloudflare/README.md
/functions/fortune-batch/node_modules/pg-connection-string/index.d.ts
/functions/fortune-batch/node_modules/pg-connection-string/index.js
/functions/fortune-batch/node_modules/pg-connection-string/LICENSE
/functions/fortune-batch/node_modules/pg-connection-string/package.json
/functions/fortune-batch/node_modules/pg-connection-string/README.md
/functions/fortune-batch/node_modules/pg-int8/index.js
/functions/fortune-batch/node_modules/pg-int8/LICENSE
/functions/fortune-batch/node_modules/pg-int8/package.json
/functions/fortune-batch/node_modules/pg-int8/README.md
/functions/fortune-batch/node_modules/pg-pool/test/bring-your-own-promise.js
/functions/fortune-batch/node_modules/pg-pool/test/connection-strings.js
/functions/fortune-batch/node_modules/pg-pool/test/connection-timeout.js
/functions/fortune-batch/node_modules/pg-pool/test/ending.js
/functions/fortune-batch/node_modules/pg-pool/test/error-handling.js
/functions/fortune-batch/node_modules/pg-pool/test/events.js
/functions/fortune-batch/node_modules/pg-pool/test/idle-timeout.js
/functions/fortune-batch/node_modules/pg-pool/test/idle-timeout-exit.js
/functions/fortune-batch/node_modules/pg-pool/test/index.js
/functions/fortune-batch/node_modules/pg-pool/test/lifetime-timeout.js
/functions/fortune-batch/node_modules/pg-pool/test/logging.js
/functions/fortune-batch/node_modules/pg-pool/test/max-uses.js
/functions/fortune-batch/node_modules/pg-pool/test/releasing-clients.js
/functions/fortune-batch/node_modules/pg-pool/test/setup.js
/functions/fortune-batch/node_modules/pg-pool/test/sizing.js
/functions/fortune-batch/node_modules/pg-pool/test/submittable.js
/functions/fortune-batch/node_modules/pg-pool/test/timeout.js
/functions/fortune-batch/node_modules/pg-pool/test/verify.js
/functions/fortune-batch/node_modules/pg-pool/index.js
/functions/fortune-batch/node_modules/pg-pool/LICENSE
/functions/fortune-batch/node_modules/pg-pool/package.json
/functions/fortune-batch/node_modules/pg-pool/README.md
/functions/fortune-batch/node_modules/pg-protocol/dist/b.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/b.js
/functions/fortune-batch/node_modules/pg-protocol/dist/b.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-reader.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-reader.js
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-reader.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-writer.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-writer.js
/functions/fortune-batch/node_modules/pg-protocol/dist/buffer-writer.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/inbound-parser.test.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/inbound-parser.test.js
/functions/fortune-batch/node_modules/pg-protocol/dist/inbound-parser.test.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/index.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/index.js
/functions/fortune-batch/node_modules/pg-protocol/dist/index.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/messages.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/messages.js
/functions/fortune-batch/node_modules/pg-protocol/dist/messages.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/outbound-serializer.test.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/outbound-serializer.test.js
/functions/fortune-batch/node_modules/pg-protocol/dist/outbound-serializer.test.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/parser.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/parser.js
/functions/fortune-batch/node_modules/pg-protocol/dist/parser.js.map
/functions/fortune-batch/node_modules/pg-protocol/dist/serializer.d.ts
/functions/fortune-batch/node_modules/pg-protocol/dist/serializer.js
/functions/fortune-batch/node_modules/pg-protocol/dist/serializer.js.map
/functions/fortune-batch/node_modules/pg-protocol/src/testing/buffer-list.ts
/functions/fortune-batch/node_modules/pg-protocol/src/testing/test-buffers.ts
/functions/fortune-batch/node_modules/pg-protocol/src/types/chunky.d.ts
/functions/fortune-batch/node_modules/pg-protocol/src/b.ts
/functions/fortune-batch/node_modules/pg-protocol/src/buffer-reader.ts
/functions/fortune-batch/node_modules/pg-protocol/src/buffer-writer.ts
/functions/fortune-batch/node_modules/pg-protocol/src/inbound-parser.test.ts
/functions/fortune-batch/node_modules/pg-protocol/src/index.ts
/functions/fortune-batch/node_modules/pg-protocol/src/messages.ts
/functions/fortune-batch/node_modules/pg-protocol/src/outbound-serializer.test.ts
/functions/fortune-batch/node_modules/pg-protocol/src/parser.ts
/functions/fortune-batch/node_modules/pg-protocol/src/serializer.ts
/functions/fortune-batch/node_modules/pg-protocol/LICENSE
/functions/fortune-batch/node_modules/pg-protocol/package.json
/functions/fortune-batch/node_modules/pg-protocol/README.md
/functions/fortune-batch/node_modules/pg-types/lib/arrayParser.js
/functions/fortune-batch/node_modules/pg-types/lib/binaryParsers.js
/functions/fortune-batch/node_modules/pg-types/lib/builtins.js
/functions/fortune-batch/node_modules/pg-types/lib/textParsers.js
/functions/fortune-batch/node_modules/pg-types/test/index.js
/functions/fortune-batch/node_modules/pg-types/test/types.js
/functions/fortune-batch/node_modules/pg-types/.travis.yml
/functions/fortune-batch/node_modules/pg-types/index.d.ts
/functions/fortune-batch/node_modules/pg-types/index.js
/functions/fortune-batch/node_modules/pg-types/index.test-d.ts
/functions/fortune-batch/node_modules/pg-types/Makefile
/functions/fortune-batch/node_modules/pg-types/package.json
/functions/fortune-batch/node_modules/pg-types/README.md
/functions/fortune-batch/node_modules/pgpass/lib/helper.js
/functions/fortune-batch/node_modules/pgpass/lib/index.js
/functions/fortune-batch/node_modules/pgpass/package.json
/functions/fortune-batch/node_modules/pgpass/README.md
/functions/fortune-batch/node_modules/postgres-array/index.d.ts
/functions/fortune-batch/node_modules/postgres-array/index.js
/functions/fortune-batch/node_modules/postgres-array/license
/functions/fortune-batch/node_modules/postgres-array/package.json
/functions/fortune-batch/node_modules/postgres-array/readme.md
/functions/fortune-batch/node_modules/postgres-bytea/index.js
/functions/fortune-batch/node_modules/postgres-bytea/license
/functions/fortune-batch/node_modules/postgres-bytea/package.json
/functions/fortune-batch/node_modules/postgres-bytea/readme.md
/functions/fortune-batch/node_modules/postgres-date/index.js
/functions/fortune-batch/node_modules/postgres-date/license
/functions/fortune-batch/node_modules/postgres-date/package.json
/functions/fortune-batch/node_modules/postgres-date/readme.md
/functions/fortune-batch/node_modules/postgres-interval/index.d.ts
/functions/fortune-batch/node_modules/postgres-interval/index.js
/functions/fortune-batch/node_modules/postgres-interval/license
/functions/fortune-batch/node_modules/postgres-interval/package.json
/functions/fortune-batch/node_modules/postgres-interval/readme.md
/functions/fortune-batch/node_modules/split2/bench.js
/functions/fortune-batch/node_modules/split2/index.js
/functions/fortune-batch/node_modules/split2/LICENSE
/functions/fortune-batch/node_modules/split2/package.json
/functions/fortune-batch/node_modules/split2/README.md
/functions/fortune-batch/node_modules/split2/test.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/types/ts3.6/polyfill.d.ts
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/types/ts3.6/ponyfill.d.ts
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/types/polyfill.d.ts
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/types/ponyfill.d.ts
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/types/tsdoc-metadata.json
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.min.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.min.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es6.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.min.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.min.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.es2018.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.min.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.min.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/polyfill.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es6.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es6.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es6.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es6.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es2018.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es2018.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es2018.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.es2018.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.js
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.js.map
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.mjs
/functions/fortune-batch/node_modules/web-streams-polyfill/dist/ponyfill.mjs.map
/functions/fortune-batch/node_modules/web-streams-polyfill/es6/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/es2018/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/ponyfill/es6/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/ponyfill/es2018/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/ponyfill/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/LICENSE
/functions/fortune-batch/node_modules/web-streams-polyfill/package.json
/functions/fortune-batch/node_modules/web-streams-polyfill/README.md
/functions/fortune-batch/node_modules/xtend/.jshintrc
/functions/fortune-batch/node_modules/xtend/immutable.js
/functions/fortune-batch/node_modules/xtend/LICENSE
/functions/fortune-batch/node_modules/xtend/mutable.js
/functions/fortune-batch/node_modules/xtend/package.json
/functions/fortune-batch/node_modules/xtend/README.md
/functions/fortune-batch/node_modules/xtend/test.js
/functions/fortune-batch/node_modules/.package-lock.json
/functions/fortune-batch/results_3/
/functions/fortune-batch/results_1/
/functions/fortune-batch/results_2/
/functions/fortune-batch/results_3/
